@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:wght@400;500;600&family=Slackey&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.hero-section {
  background-image: url("./assets/Hero V1.svg");
  background-size: cover;
}
.header,
.conversion-paragraph,
.footer {
  font-family: "Inter", sans-serif;
}
.services,
.getstartedheader,
.about,
.solutions,
.platform,
.why,
.feedback,
.conversion-header {
  font-family: "DM Sans", sans-serif;
}
@media (width <= 425px) {
  .conversion {
    background: radial-gradient(
        77.5% 446.75% at 77.5% 48.61%,
        #53be7e 0%,
        #138c4d 31.81%,
        #0c874f 57.6%,
        #055238 88.28%
      )
  }
  .get-started-btn{
    background-color: rgba(12, 32, 39, 1);
    border-radius: 80px;
  }
}
